/*
*   常用样式
*/

$min-width: 1226px;


// 常规字体大小

$fontA:         80px;
$fontB:         38px;
$fontC:         28px;
$fontD:         26px;
$fontE:         24px;
$fontF:         22px;
$fontG:         20px;
$fontH:         18px;
$fontI:         16px;
$fontJ:         14px;
$fontK:         12px;

// 常规颜色

$colorA:        #FF6600 !default;   // 用于需要突出和强调的文字
$colorB:        #333333 !default;   // 较为重要的文字信息
$colorC:        #666666 !default;   // 普通锻炼的信息 
$colorD:        #999999 !default;   // 辅助文字
$colorE:        #CCCCCC !default;   // 特别弱的文字
$colorF:        #d7d7d7 !default;   // 列表分割线 标签
$colorG:        #ffffff !default;   // 导航栏文字
$colorH:        #e5e5e5 !default;   // 上下模块分割线
$colorI:        #000000 !default;   // 纯黑色背景
$colorJ:        #F5F5F5 !default;   // 弹窗背景颜色
$colorK:        #FFFAF7 !default;   // 订单背景色